/* frontend/theme/[my-theme]/components/vaadin-grid.css */

.ws {
    background-color: #b1ffb7;
}

.sw {
    background-color: #ffd9d9;
}

.font-weight-bold {
    font-weight: bold;
}

.closePopUp {
   display: grid;
}